//
@import 'bootstrap';
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'comics/index.scss';
@import 'comics/create.scss';
@import 'comics/show.scss';
@import 'comics/adminIndex.scss';
@import 'comics/adminEdit.scss';
@import 'games/index.scss';
@import 'games/adminIndex.scss';
@import 'games/show.scss';


main {
    background-color: rgb(53, 53, 53);
    color: white;

    .home {
        height: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
