.comics_create {
    min-height: 100vh;
    .container {
        padding: 5rem 0;

        label {
            margin-top: 1rem;
        }

        button {
            margin-top: 1rem;
        }
    }
}