.comics_index {

    .container {
        padding: 5rem 0;
        a {
            text-decoration: none;
            color: black;
        }
        .card {
            color: black;
            height: 100%;

            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: top;
            }

            .btn {
                color: white;
                font-weight: bold;
            }
        }

    }
}